# SentEval data and .pyc files



# python
__pycache__/
*.py[cod]
*$py.class

# log files
*.log

# data files
SentEval/data/fasttext
SentEval/data/probing
SentEval/data/downstream/COCO
SentEval/data/downstream/CR
SentEval/data/downstream/MPQA
SentEval/data/downstream/MR
SentEval/data/downstream/MRPC
SentEval/data/downstream/SICK
SentEval/data/downstream/SNLI
SentEval/data/downstream/SST
SentEval/data/downstream/STS
SentEval/data/downstream/SUBJ
SentEval/data/downstream/TREC
datasets/